
.grid {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.columns {
    flex-direction: column;
  }

  &.center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.bottom {
    align-items: baseline;
  }
}
