@import '../settings';

$grid-row-padding: $theme-space;

.grid {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.columns,
  &.column {
    flex-direction: column;
  }

  &.center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.bottom {
    align-items: baseline;
  }
}


.grid-blocks {
  display: flex;

  div {
    flex: 1 0 1px;

    &:not(:first-child) {
      padding-left: $grid-row-padding;
    }
    &:not(:last-child) {
      padding-right: $grid-row-padding;
    }
  }
}
