@import '../settings';

$page-background-color: $theme-white;
$footer-background-color: $theme-gray;
$page-padding: $theme-space;
$page-header-padding: $page-padding / 2;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  background-color: $page-background-color;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $page-header-padding;
  padding-right: $theme-space;
  padding-left: $theme-space;
  background-color: $pure-white;
  box-shadow: 0 0 2px 2px rgba(120, 120, 120, .5);

  @media (min-width: #{$small}) {
    align-items: baseline;
  }

}
.page-main {
  flex: 1;
}

.page {
  padding-right: $page-padding;
  padding-left: $page-padding;
}

.container {
  max-width: 46em;
  margin: 0 auto;
}


.page-footer {
  color: $theme-white;
  background-color: $footer-background-color;
}
