<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/gen/styles.css'|url }}">
<link rel="shortcut icon" href="{{ '/favicon/fll_favicon.ico'|url }}">
<title>{% block title %}Welcome{% endblock %} — FabLab Leipzig</title>
<body>
  <header class="page-header">
    <div class="container">
    <a href="{{ '/'|url }}">
      <img src="{{ '/images/fll-logo-full-01.png'|url }}" alt="">
    </a>
    {% include 'navigation.html' %}
    </div>
  </header>
  {% if this._path == '/' %}
  <div class="page-image-wrapper">
    <div class="page-image" style="background-image: url({{ './images/fll-arduino-lego.jpg'|url }})" ></div>
    <div class="page-image-gradient"></div>
  </div>
  {% endif%}
  <div class="page-main page container"
  {% if this._path == '/' %}
  style="color: #fff;"
  {% endif%}>
  {% block body %}{% endblock %}
  </div>
  {% include 'footer.html' %}
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script type=text/javascript src="{{'/static/gen/app.js'|url }}" charset="utf-8"></script>
</body>
