<nav>
  <div class="small-only link" id="toggle" data-toggle="nav">
    {% include 'partials/hamburger.svg' %}
  </div>
  <ul id="nav" class="nav hide-for-small">
    <li{% if this._path == '/' %} class="active"{% endif
      %}>
      {% for href, title in [
        ['/team', 'Team'],
        ['/projects', 'Projekte'],
        ['/about', 'Über']
      ] %}
      <li{% if this.is_child_of(href) %} class="active"{% endif
        %}><a href="{{ href|url }}">{{ title }}</a></li>
    {% endfor %}
  </ul>
</nav>
